@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.navbar{
    background-color: black;
    color:white;
    opacity: 0.7;
    height:50px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(180, 9, 9);
    gap:40px;
    justify-content: flex-end;
    font-weight: bold;
    font-style: italic;
    /* text-transform: uppercase;
    text-decoration: underline;
   text-shadow: 2px 4px 5px yellow; */
   font-family: "Roboto Mono", monospace;
}

/* .outerdiv{
    background-color: blanchedalmond;
    color:red;
    height:700px;
    width:100%;
    text-align: center;
   padding:20px;
   border: 2px solid red;

   box-sizing: border-box;


   display: flex;
   flex-direction: row;
  gap:120px;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.red{
    background-color: brown;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: aquamarine;
}

.innerdiv{
    height: 200px;
    width: 200px;
} */

.navbar p:hover{
    color:hotpink;
    font-size: 22px;
}

a{
    text-decoration: none;
}
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }



 p::first-line{
    color:rgb(180, 9, 9);
 }